doctype html
html
  head
    title Editar Tarea
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/styles.css")
  body
    h1.text-center Editar Tarea
    form(action=`/tasks/${task.id}?_method=PUT`, method='POST')
      .form-group
        label(for='Tarea') Tarea
        input#Tarea.form-control(type='text', name='Tarea', value=task.Tarea, required)
      .form-group
        label(for='idResponsable') Cambiar Responsable
        select#idResponsable.form-control(name='idResponsable', required)
          each user in users
            option(
              value=user._id,
              selected=task.idResponsable.toString() === user._id.toString()
            )
              | #{user.nombre} 
      button.btn.btn-primary(type='submit') Guardar Cambios

