doctype html
html
  head
    title Tareas
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/styles.css")
  body
    h1.text-center Lista de Tareas

    form(method="GET" action="/tasks" class="text-center mb-4")
          div.form-group
            label(for="estado") Filtrar por Estado:
            select#estado.form-control(name="estado")
              option(value="") -- Seleccionar Estado --
              option(value="1") Pendiente
              option(value="2") En Progreso
              option(value="3") Completado
          div.form-group
            label(for="prioridad") Filtrar por Prioridad:
            select#prioridad.form-control(name="prioridad")
              option(value="") -- Seleccionar Prioridad --
              option(value="1") Baja
              option(value="2") Media
              option(value="3") Alta
          button.btn.btn-primary(type="submit") Filtrar
          a.btn.btn-secondary.mt-2(href="/tasks") Limpiar Filtros
    if message
      .alert.alert-success.text-center(role='alert')= message
      script.
        setTimeout(function() {
          window.location.href = "/tasks";
        }, 3000); 
    .container
      .row.justify-content-center
        each task in tasks
          .col-12.col-md-4.mb-4.d-flex
            .card.text-center.w-100.h-100
              .card-body.d-flex.flex-column
                h5.card-title #{task.Tarea}
                p.card-text Responsable: #{task.responsableNombre}
                p.card-text Estado: #{task.Estado}
                p.card-text Prioridad: #{task.prioridadNombre}
                .d-flex.justify-content-center
                  a.btn.btn-primary.btn-lg.m-2.mt-auto(href=`/tasks/${task._id}`) Ver tarea

    .text-center.mt-4
      a.btn.btn-secondary.btn-lg(href=backUrl) Volver