doctype html
html
  head
    title Tareas
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/styles.css")
  body
    h1.text-center Lista de Tareas

    if message
      .alert.alert-success.text-center(role='alert')= message
      script.
        setTimeout(function() {
          window.location.href = "/tasks";
        }, 3000); 

    ul
      each task in tasks
        li.text-center #{task.Tarea} - Responsable ID: #{task.idResponsable} - Estado: #{task.Estado}
        .d-flex.justify-content-center.mb-3
          a.btn.btn-primary.btn-lg.m-2(href=`/tasks/${task.id}/edit`) Editar tarea
          
          // Formulario para eliminar tarea
          form(action=`/tasks/${task.id}?_method=DELETE`, method='POST', class='d-inline', onsubmit='return confirmDelete()')
            button.btn.btn-danger.btn-lg.m-2(type='submit') Eliminar tarea
    // Script para la confirmación
    script.
      function confirmDelete() {
        return confirm('¿Está seguro que quiere eliminar esta tarea?');
      }

