doctype html
html
  head
    title Usuarios
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/styles.css")
  body
    h1.text-center Lista de Usuarios
    ul
      each user in users
        li.text-center #{user.nombre} - Área: #{user.area}
        .d-flex.justify-content-center.mb-3
          a.btn.btn-primary.btn-lg.m-2(href=`/users/${user.id}/edit`) Editar usuario
          
          //- Formulario para eliminar usuario
          form(action=`/users/${user.id}?_method=DELETE` method="POST" onsubmit="return confirmDelete()")
            button.btn.btn-danger.btn-lg.m-2(type="submit") Eliminar usuario

    //- Mensaje de éxito
    if successMessage
      div.alert.alert-success.text-center
        | #{successMessage}

    script.
      function confirmDelete() {
        return confirm("¿Está seguro que desea eliminar al usuario?");
      }
