doctype html
html
  head
    title Usuarios
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/styles.css")
  body
    h1.text-center Lista de Usuarios

    .container
      .row.justify-content-center
          each user in users
            .col-12.col-md-4.mb-4.d-flex 
              .card.mb-4.text-center.w-100.h-100
                .card-body.d-flex.flex-column
                  h5.card-title #{user.nombre}
                  p.card-text Área: #{user.area}
                  .d-flex.justify-content-center.mt-auto
                    a.btn.btn-primary.btn-lg.m-2(href=`/users/${user.id}/edit`) Editar usuario
                
                //- Formulario para eliminar usuario
                .d-flex.justify-content-center
                  form(action=`/users/${user.id}?_method=DELETE` method="POST" class='unstyled-form' onsubmit="return confirmDelete()")
                    button.btn.btn-danger.btn-lg.m-2(type="submit") Eliminar usuario

    //- Mensaje de éxito
    if successMessage
      div.alert.alert-success.text-center
        | #{successMessage}

    script.
      function confirmDelete() {
        return confirm("¿Está seguro que desea eliminar al usuario?");
      }
